<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<title>Gestão de Vendas</title>
	<link rel="stylesheet" type="text/css" href="/css/vendors/plugins.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

	<header layout:include="Header"></header>
	
	<section layout:fragment="conteudo">
		<p>Conteudo Principal</p>
	</section>	
	
<script type="text/javascript" src="/js/vendors/jquery/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/js/vendors/jquery/jquery.maskMoney.js"></script>
<script type="text/javascript" src="/js/vendors/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>